.all{
    height: 100vh;
    width: 1080px;
    max-width : 1080px

}
.logo {
    width: 160px;
}

.image_rotate {
    position: absolute;
    top: 40px;
    left: 400px;
    width: 530px;
    height:530px;
    justify-content: center;
    align-items: center;
    transition: 3s ease-in-out;
}
.image_rotate:hover {
    transform: rotate(1080deg);
}

.person{
    position: absolute;
    top: 580px;
    left: 0;
    width: 400px;
    height: 400px;
    animation: person 4s infinite
}

@keyframes person {
    font {
        left: 0;
    }
    to {
        left: 800;
    }

}

.btn-menu{
    top: 20;
}
.menu {
    position: fixed;
    vertical-align: middle;
    left: 1150px;
    height: 60vh;
    transition: all .5s;
}


.active {
    position: fixed;
    right: 0;
   left: 1000px;
   background-image: linear-gradient( to bottom , #1aff44 ,#e9f4eb);
  
}

.h1 {
    margin-left: 65px;
    font-weight: bold;
    font-size: 20pt;
}

.h2 {
    margin-left: 45px;
    font-size: 8pt;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.h3 {
    color: #FD6548;
    font-size: 10pt;
    margin-left: 90px;
    margin-top: 100px;
    letter-spacing: 10px;
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    font-weight: bold;
}

.p1 {
    position: fixed ;
    left: 1200px;
    top: 340pt;
}

.p2 {
    position: absolute;
    top: 500pt;
}

.content {
    width: 1080px;
    margin-top: 200pt;
     max-width : 1080px
   
}
.h4 {
    font-size: 40pt;
    margin-left: 1000px;
    letter-spacing: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    }
.p3 {
    margin-top: 10px;
    margin-left: 200px;
    width: 90%;
}
.h5{
    margin-top: 30px;
    margin-left: 110px;
    font-size: 10pt;
    font-weight: bold;
    letter-spacing: 3px;

}
.p4-1{
    overflow: hidden;
    margin-top: 30px;
    transform-origin: top left;
    transition: 1s ease-in-out;
  }
  
  .p4-1:hover {
    transform: scale(1.15);
}

.h6{
    font-size: 15pt;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    margin-left: 900px;
    letter-spacing: 2px;
    margin-top: -150px;
}
.p4-2 {
    margin-top: -30px;
    margin-left: 850px;
}


.h7{
    font-size: 10pt;
    font-weight: bold;
    letter-spacing: 3px;
    margin-top: 200px;
    margin-left: -100px;

}
.h8{
    font-size: 15pt;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    letter-spacing: 2px;
    margin-top: 200px;
     margin-left: -600px;
}
.p5-1{
    margin-top: -25px;
    margin-left: -500px;    
}


.p5-2{
    overflow: hidden;
    margin-top: -200px;
   margin-left: -180px;
    width: 600px;
    transform-origin: top right;
    transition: 1s ease-in-out;
  }
  
  .p5-2:hover {
    transform: scale(1.2);
    
}

.p6{
    position: absolute;
    top: 710px;
    right: 0px;
    z-index: -1;
}

.p7{
    position: absolute;
    top: 1000px;
    left: -100px;
    z-index: -2;
  
}

.p8{
    position: absolute;
    top: 1500px;
    right: 0px;
    z-index: -3;
  
}

.p9{
    margin-top: 100px;
    margin-left: 200px;
    width: 250px;
  
}

.h9{
    font-size: 15pt;
    font-weight:bold;
    letter-spacing: 2px;
    margin-top: -100px;
     margin-left: 650px;
}

.h10{
    font-size: 10pt;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:bolder;
    letter-spacing: 2px;
    margin-top: 10px;
     margin-left: 590px;
  
}

.h11{
    font-size: 10pt;
    color: #FD6548;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:bolder;
    letter-spacing: 2px;
    margin-top: 50px;
     margin-left: 200px;
}
.h11:hover {
    transform: skewX(-0.08turn)
}
.h12{
    font-size: 10pt;
    color: #FD6548;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:bolder;
    letter-spacing: 2px;
    margin-top: 0px;
     margin-left: 200px;
}
.h12:hover {
    transform: skewX(-0.08turn)
}
.h13{
    font-size: 10pt;
    color: #FD6548;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:bolder;
    letter-spacing: 2px;
    margin-top: 0px;
     margin-left: 200px;
}
.h13:hover {
    transform: skewX(-0.08turn)
}

.p10{
    margin-top: -60px;
    margin-left: 580px;
   
}

.p11{
overflow: hidden;
margin-top: 250px;
width: 1000px;
animation: p11 5s ease-in-out infinite
}
@keyframes p11 
{ 
    0%{
        transform: scale(1);  
    }
    25%{
        transform: scale(1.5);
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.5);
    }
}





@media screen and (max-width:390px){
    .all{
        height: 100vh;
        width: 390px;
        
    
    }
    .logo {
        width: 50px;
    }
    
    .image_rotate {
        position: absolute;
        top: 100px;
        left: 90px;
        width: 220px;
        height:220px;
        justify-content: center;
        align-items: center;
        transition: 3s ease-in-out;
    }
    .image_rotate:hover {
        transform: rotate(1080deg);
    }
    
    .person{
        position: absolute;
        width: 200px;
        top: 360px;
        left: 0;
        animation: person 4s infinite
    }
    
    @keyframes person {
        font {
            left: 0;
        }
        to {
            left: 100;
        }
    
    }
    
    .btn-menu{
        top: 20;
    }
    .menu {
        position: fixed;
        vertical-align: middle;
        left: 350px;
        width: 30px;
        height: 60vh;
        transition: all .5s;
        font-size: 4pt;
        z-index: 1;
    }
    
    
    .active {
        position: fixed;
        right: 0;
       left: 350px;
       background-image: linear-gradient( to bottom , #1aff44 ,#e9f4eb);
      
    }
    
    .h1 {
        margin-top: -10px;
        margin-left: 30;
        font-weight: bold;
        font-size: 4pt;
    }
    
    .h2 {
        position: absolute;
        left: 100px;
        top: 40px;
        font-size: 2pt;
        font-family:Verdana, Geneva, Tahoma, sans-serif
    }
    
    .h3 {
        color: #FD6548;
        font-size: 2pt;
        margin-left: 40px;
        margin-top: 60px;
        letter-spacing: 2px;
        -webkit-writing-mode: vertical-lr;
        writing-mode: vertical-lr;
        font-weight: bold;
    }
    
    .p1 {
        position: fixed ;
        left: 360px;
        top: 200pt;
        width: 18px;
    }
    
    .p2 {
        position: absolute;
        top: 400px;
    }
    
    .content {
        width: 390px;
        margin-top: 180px;
         max-width : 390px
       
    }
    .h4 {
        font-size: 10pt;
        margin-left: 300px;
        letter-spacing: 5px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        }
    .p3 {
        margin-top: 10px;
        margin-left: 40px;
        width: 90%;
    }
    .h5{
        width: 200px;
       margin-top: 20px;
        margin-left: 50px;
        font-size: 1pt;
        font-weight: bold;
        letter-spacing: 1px;
    
    }
    .p4-1{
        position: absolute;
        left: 0px;
        width: 300px;
        overflow: hidden;
        margin-top: 20px;
        transform-origin: top left;
        transition: 1s ease-in-out;
      }
      
      .p4-1:hover {
        transform: scale(1.15);
    }
    
    .h6{
        font-size: 1pt;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-weight: bolder;
        margin-left: 60px;
        letter-spacing: 2px;
        margin-top: 200px;
    }
    .p4-2 {
        position: absolute;
        top: 755px;
        margin-left: 110px;

    }
    
    
    .h7{
        font-size: 1pt;
        font-weight: bold;
        letter-spacing: 1px;
        margin-top: 50px;
        margin-left: 120px;
    
    
    }
    .h8{
        font-size: 5pt;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-weight: bolder;
        letter-spacing: 1px;
        margin-top: 250px;
        margin-left: 200px;
    }
    .p5-1{
        margin-top: -20px;
        margin-left: 160px;    
    }
    
    
    .p5-2{
        overflow: hidden;
      position: absolute;
      right: 0;
      top: 350px;
        width: 230px;
        height: 150px;
        transform-origin: top right;
        transition: 1s ease-in-out;
      }
      
      .p5-2:hover {
        transform: scale(1.2);
        
    }
    
    .p6{
        position: absolute;
        top: 750px;
        right: 0px;
        z-index: -1;
    }
    
    .p7{
        position: absolute;
        top: 800px;
        left: 0px;
        z-index: -2;
        width: 100px;
      
    }
    
    .p8{
        position: absolute;
        top: 1100px;
        left: -50px;
        z-index: -3;
        width: 200px;
      
    }
    
    .p9{
        margin-top: 300px;
        margin-left: 100px;
        width: 150px;
      
    }
    
    .h9{
        font-size: 2pt;
        font-weight:bold;
        letter-spacing: 2px;
        margin-top: 20px;
         margin-left: 110px;
    }
    
    .h10{
        font-size: 1pt;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-weight:bolder;
        letter-spacing: 2px;
        margin-top: 10px;
         margin-left: 40px;
      
    }
    
    .h11{
        font-size: 10pt;
        color: #FD6548;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-weight:bolder;
        letter-spacing: 2px;
        margin-top: 50px;
         margin-left: 200px;
    }
    .h11:hover {
        transform: skewX(-0.08turn)
    }
    .h12{
        font-size: 10pt;
        color: #FD6548;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-weight:bolder;
        letter-spacing: 2px;
        margin-top: 0px;
         margin-left: 200px;
    }
    .h12:hover {
        transform: skewX(-0.08turn)
    }
    .h13{
        font-size: 10pt;
        color: #FD6548;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-weight:bolder;
        letter-spacing: 2px;
        margin-top: 0px;
         margin-left: 200px;
    }
    .h13:hover {
        transform: skewX(-0.08turn)
    }
    
    .p10{
        margin-top: 30px;
        margin-left: 200px;
        width: 100px;
       
    }
    
    .p11{
    overflow: hidden;
    margin-top: 100px;
    margin-left: 120px;
    width: 150px;
    height: 100px;
    }}